.sidebarRow{
    display:flex;
    align-items: center;
    padding: 10px 30px;
    /* padding:10px; */
}
.sidebarRow:hover{
    border-left: 6px solid rgb(50, 150, 250);
    
    
}
.sidebarRow:active{
    color: rgb(50, 150, 250);
}
.sidebarRow >h4{
    padding-left:10px
}

